<!-- component Search-->
<form action="/grades/search" method="post" class="my-4">
  <div class="container mx-auto flex justify-center items-center p-2 md:p-0">
    <div class="p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg">
      <div id="form_S_T" class="">
        <div class="grid grid-cols-3 gap-3 border border-gray-200 p-2 rounded">
          <div class="flex rounded bg-gray-300 items-center p-2">
            <svg class="fill-current text-gray-800 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              class="bi bi-bookmark">
              <path
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                id="mainIconPathAttribute" stroke-width="0" stroke="#ff0000" fill="#000000"></path>
            </svg>
            <select name="filterGrade" class="bg-gray-300 w-full focus:outline-none text-gray-700">
              <option label="Seleccione el grado"></option>
              <option value="3ro">3ro</option>
              <option value="4to">4to</option>
              <option value="5to">5to</option>
              <option value="6to">6to</option>
            </select>
          </div>
          <div class="flex rounded bg-gray-300 items-center p-2">
            <svg class="fill-current text-gray-800 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              class="bi bi-bookmark">
              <path
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                id="mainIconPathAttribute" stroke-width="0" stroke="#ff0000" fill="#000000"></path>
            </svg>
            <select name="filterArea" class="bg-gray-300 w-full focus:outline-none text-gray-700">
              <option label="Selecione el área o sección"></option>
              <optgroup label="Sección">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
              </optgroup>
              <optgroup label="Área">
                <option value="Informática">Informática</option>
                <option value="Enfermería">Enfermería</option>
                <option value="Mercadeo">Mercadeo</option>
                <option value="Gestión">Gestión</option>
                <option value="Mueble">Mueble</option>
                <option value="Moda">Moda</option>
              </optgroup>

            </select>
          </div>
          <div class="">
            <button class="p-2 border w-full rounded-md bg-gray-800 text-white"
              type="submit">Buscar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12" id="scroll">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-blue-500 text-white text-xs ms:text-base md:text-base">
          <th class="w-1/4 py-4 text-center ...">Estudiante</th>
          <th class="w-1/4 py-4 text-center alias...">Grado</th>
          <th class="w-1/4 py-4 text-center ...">Área  /  Sección</th>
          <th class="w-1/4 py-4 text-center ...">Asignatura</th>
          <th class="w-28 py-4 text-center ...">Calificación</th>
          <th class="w-28 py-4 text-center ...">Período</th>
          <th class="w-28 py-4 text-center ...">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each grades}}
          <tr class="text-xs ms:text-base md:text-base">
            <td class="p-3 text-center">{{nombre_est}}</td>
            <td class="p-3 text-center">{{grado}}</td>
            <td class="p-3 text-center">{{area}}</td>
            <td class="p-3 text-center">{{asignatura}}</td>
            <td class="p-3 text-center">{{calificacion}}</td>
            <td class="p-3 text-center">{{periodo}}</td>
            <td class="p-3 flex">
              <form action="/grades/delete" method="POST" class="mx-2">
                <input type="hidden" value="{{id}}" name="id" />
                <input type="hidden" value="{{grado}}" name="grado" />
                <button
                  class="bg-red-500 text-white px-3 py-1 rounded-sm"
                  type="submit"
                >
                  <i class="fas fa-trash"></i></button>
              </form>
              <a
                href="/grades/edit/{{id}}_{{grado}}"
                class="bg-blue-500 text-white px-3 py-1 rounded-sm"
              >
                <i class="fa-solid fa-pen"></i></a>

            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>