<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="w-20 py-4 ...">ID</th>
          <th class="w-1/4 py-4 ...">Full Name</th>
          <th class="w-1/4 py-4 ...">Skin Color</th>
          <th class="w-1/2 py-4 ...">Age</th>
          <th class="w-28 py-4 ...">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each persons}}
        <tr>
          <td class="py-3 px-6">{{id}}</td>
          <td class="p-3">{{nombre}}</td>
          <td class="p-3 text-center">{{colorPiel}}</td>
          <td class="p-3 text-center">{{edad}}</td>
          <td class="p-3 flex">
            <form action="/persons/delete" method="POST" class="mx-2">
              <input type="hidden" value="{{id}}" name="id">
              <button class="bg-red-500 text-white px-3 py-1 rounded-sm" type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
            <a href="/persons/edit/{{id}}" class="bg-blue-500 text-white px-3 py-1 rounded-sm">
              <i class="fas fa-pen"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>